body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #50565e;
  background-image: url("minefield.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}

header {
  padding: 20px;
  margin: 0;
  color: #ffffff;
  background-color: var(--dark);
  font-size: 1.5rem;
}

input {
  border: none;
  border-radius: 12px;
  padding: 0 5px;
  margin: 0 40px 0 0;
  font-size: 1.25rem;
  background-color: #dddddd;
  width: 3rem;
  box-shadow: inset 0 4px 5px -1px rgba(0, 0, 0, 0.32), 0 0 5px 2px rgba(0, 0, 0, 0.32);
}

input[type=button] {
  cursor: pointer;
  margin: 0 0 0 2rem;
  padding-bottom: 5px;
  width: 6rem;
  height: 2rem;
  border-radius: 2px;
  color: white;
  background-color: #318b00;
  box-shadow: inset 0 -4px 5px -1px rgba(0, 0, 0, 0.32), 0 0 5px 2px rgba(0, 0, 0, 0.32);
  vertical-align: middle;
}

.field {
  position: relative;
  display: none;
  font-size: 12px;
  border: 13px solid var(--dark);
  padding: 0;
  background-color: #eeeeee;
}

.row {
  display: flex;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.cell {
  display: inline-flex;
  border: 1px solid #000000;
  background-color: #aaaaaa;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 2px;
  justify-content: space-around;
  align-items: center;
  transition: all .25s ease;
  cursor: pointer;
}

.clear {
  background-color: #ffffff;
  cursor: default;
}

.mine {
  background-color: var(--defeat);
}

.flag {
  background-color: var(--victory);;
}

.hover {
  transform: scale(1.4);
  border-color: #000000;
  box-shadow: 0 0 1rem var(--dark);
}

.buffer {
  height: 20px;
}

.victory {
  height: 6rem;
  background-color: var(--victory);;
  color: #ffffff;
  font-size: 5rem;
  margin-bottom: 20px;
}

.defeat {
  height: 6rem;
  background-color: var(--defeat);
  color: #ffffff;
  font-size: 5rem;
  margin-bottom: 20px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes explode {
  0% {
    background-color: #ff0000;
    left: 0;
  }

  25% {
    background-color: #ffa500;
    left: 6rem;
  }

  50% {
    background-color: #ffff00;
    left: 0;
  }

  75% {
    background-color: #000000;
    left: -6rem;
  }

  100% {
    background-color: #ffffff;
    left: 0;
  }
}

:root {
  --defeat: #b70000;
  --victory: #40b700;
  --dark: #292c30;
}